{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<input type="text" id="queryLoc" value="Dark Magician">
 <input type="button" value="NOM" onclick="buttonClickGET()"/>
 <p id="zone_carte">RECHERCHE DE CARTE PAR NOM</p>

 <br><br>

<input type="text" id="limiteSetName" value="metal raiders">
<input type="button" value="EDITION LIMITE" onclick="buttonEditionGET()">
<p id="zone_edition">RECHERCHE DE 5 CARTE PAR EDITION</p>

<br><br>

<input type="button" value="random" onclick="buttonRandomGET()">
<p id="zone_random">RECHERCHE CARTE ALEATOIRE</p>

<br><br>

<input type="button" value="level4" onclick="buttonLevelGET()">
<p id="zone_level">Carte de niveau 4 trier par attaque</p>

<br><br>

<input type="button" value="Ban" onclick="buttonBanGET()">
<p id="zone_ban">Carte bannies(TCG) de niveau 4 par ordre alphabétique</p>

<br><br>

<input type="button" value="Format" onclick="buttonFormatGET()">
<p id="zone_format">Carte du format speed duels</p>

<br><br>

<input type="button" value="Fleche" onclick="buttonFlecheGET()">
<p id="zone_fleche">Carte lien EAU qui on une flèche en haut et a droite</p>

<br><br>

<input type="button" value="Staple" onclick="buttonStapleGET()">
<p id="zone_staple">Carte staple</p>

<br><br>

<input type="button" value="Wizard" onclick="buttonWizardGET()">
<p id="zone_wizard">Carte wizard</p>

{% endblock %}
