#acces{
    margin: auto;
    margin-top: 10vh;
    padding-top: 16vh;
    background-image: url(../img/dos_carte_yugioh.jpg);
    background-size: cover;
    height: 500px;
    width: 345px;
    text-align: center;
    font-size: 3em;
}
a{
    text-decoration: none;
    color: white;
}