.js-filter-form {
    display: flex;
    flex-wrap: wrap;
}
.form-group{
    margin-top: 1rem;
    margin-left: 1rem;
}
.grid{
    display: flex;
    flex-wrap: wrap;    
    /* Hide scrollbar for IE and Edge
     -ms-overflow-style: none; 
     */
}

/* Hide scrollbar for Chrome, Safari and Opera */
 /* .grid::-webkit-scrollbar { 
    display: none;
} */
.card{
    width: 18vh;
    margin: 1vh;
    display: block;
    position: relative;
    z-index: 2;
    transition-property: all;
    transition-delay:2s;
}
.inline{
    display: inline-block;
}

.bouton{
    float: left;
    margin-right: 1rem;
    display: block;
    background-color: #007bff;
    height: 38px;
    line-height: 38px;
    width: 6.8rem;
    border-radius: .3rem;
    color: white;
    padding: 0 1rem 0 1rem;
}
.bouton:hover{
    text-decoration: none;
    background-color: #0069D9;
    color: white;
}
#deck_Update{
    float: left;
    margin-right: 1rem;
}
.deck{
   
    
    
}
.borderDeck{
    margin-left: 1rem;
    background-color:rgba(212, 212, 212, 0.712);
    padding: 1rem;
    border-radius: 1rem;
}
.deck a{
    color: black;
}