.js-filter-form {
    display: flex;
    flex-wrap: wrap;
}
.form-group{
    margin-top: 1rem;
    margin-left: 1rem;
}
.grid{
    display: flex;
    flex-wrap: wrap;    
    /* Hide scrollbar for IE and Edge
     -ms-overflow-style: none; 
     */
}

/* Hide scrollbar for Chrome, Safari and Opera */
 /* .grid::-webkit-scrollbar { 
    display: none;
} */
.card{
    width: 18vh;
    margin: 1vh;
    display: block;
    position: relative;
    z-index: 2;
    transition-property: all;
    transition-delay:2s;
}
.inline{
    display: inline-block;
}
/*
.card:hover{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 35%;
    z-index: 15;
    
} */


