.container-fluid{
    margin-top: 15vh;
    margin-left: 15vw;
    width: 85vw;
}
body{
    background-image: url(../img/wallpaper/cropped-1920-1080-875040.jpg);
}
#fondCouleur{
    background-color: rgb(245, 244, 242);
    border-radius: 5%;
    padding-top: 10px;
    opacity: 70%;
}