.container-fluid{
    margin-top: 15vh;
    margin-left: 15vw;
    width: 85vw;
}
body{
    background-color: grey;
}
#fondCouleur{
    background-color: rgb(245, 244, 242);
    border-radius: 5%;
    padding-top: 10px;
    opacity: 70%;
}