.container-fluid{
    margin-top: 15vh;
    width: 85vw;
}
body{
    background-color: grey;
}
#fondCouleur{
    margin: 0 auto;
    background-color: rgb(245, 244, 242);
    border-radius: 1rem;
    padding-top: 10px;
    opacity: 70%;
}
#listCard{
    width: 100vw;
    margin-left: -2vw;
}
h1{
    color: white;
    display: flex;
    justify-content: center;
}