.container-fluid{
    margin-top: 15vh;
}

.fond{

    text-align: center;
    font-size: 2em;
    opacity: 90%;
}
.username{
    display: flex;
    justify-content: center;
}
#buttonEdit{
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}