<div class="card">
    <a href="{{ path('findCard' , {'id_api' :card.idApi }) }}"><img src="{{ asset(card.img)}}" alt=""
            class="card-img-top"></a>
    <div class="card-body">
        <h5 class="card-title">{{card.nom}}</h5>
    </div>
</div>