{% extends 'base.html.twig' %}


  
{% block title %}card{% endblock %}

{% block body %}
    <h1>card</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ card.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ card.nom }}</td>
            </tr>
        </tbody>
    </table>

  
{% endblock %}
