{% for deckCard in deck.deckCards %}
    {% if deckCard.nbr > 0 %}
        {% for i in 1..deckCard.nbr %}
            <div>
                <a href="{{ path('remove_card_in_deck' , {'id_card' :deckCard.card.id ,'id_deck' : deckCard.deck.id }) }}">
                    {{deckCard.card.nom}}
                </a> 
            </div>
        {% endfor %}
    {% endif %}
{% endfor %}
